annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
Arpeggio==2.0.3
attrs==26.1.0
awscli==1.45.0
boto3==1.43.0
botocore==1.43.0
certifi==2026.4.22
charset-normalizer==3.4.7
click==8.3.3
colorama==0.4.6
debugpy==1.8.20
dill==0.4.1
docutils==0.19
fastapi==0.136.1
googleapis-common-protos==1.74.0
greenlet==3.5.0
grpcio==1.80.0
h11==0.16.0
idna==3.13
importlib_metadata==8.7.1
jmespath==1.1.0
joblib==1.5.3
numpy==2.4.4
opentelemetry-api==1.41.1
opentelemetry-exporter-otlp-proto-common==1.41.1
opentelemetry-exporter-otlp-proto-grpc==1.41.1
opentelemetry-instrumentation==0.62b1
opentelemetry-instrumentation-grpc==0.62b1
opentelemetry-proto==1.41.1
opentelemetry-sdk==1.41.1
opentelemetry-semantic-conventions==0.62b1
packaging==26.2
pandas==3.0.2
parver==0.5
prometheus-fastapi-instrumentator==7.1.0
prometheus_client==0.25.0
protobuf==6.33.6
psycopg2-binary==2.9.12
pulumi==3.232.0
pulumi_aws==7.27.0
pyasn1==0.6.3
pydantic==2.13.3
pydantic_core==2.46.3
python-dateutil==2.9.0.post0
PyYAML==6.0.3
requests==2.33.1
rsa==4.7.2
s3transfer==0.17.0
scikit-learn==1.8.0
scipy==1.17.1
semver==3.0.4
six==1.17.0
SQLAlchemy==2.0.49
starlette==0.52.1
threadpoolctl==3.6.0
tqdm==4.67.3
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.6.3
uvicorn==0.46.0
wrapt==2.1.2
zipp==3.23.1
